body{
	color: white;
	background-color: blue;
}

.comicsPic{
}

.charPic{
	display: block;
	margin: 0 auto;
}

.comicCard{
	background-color: white;
}


.comicCard h3{
	color: black;
	font-size: 1.3em;
}

.comicPic{
	width: 300px;
	height: auto;
}

