@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Marvel:400,700,700italic);


body{
    color: white;
    background-color: #001B2E;
}

/*header*/
header{
    width: 100%;
    background-color: #F0141E;
}

header h1{
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Marvel', sans-serif;
    margin: 20px 0px;
}


/*character*/
.character{
    width: 100%;
    background-color: #001B2E;
}

.character h2{
    font-family: 'Rock Salt', 'Comic Sans';
}

.character .charPic{
    display: block;
    margin: 0 auto;
}

.character p{
    margin: 20px 0px;
}


/*Collection*/
.collection{
    width: 100%;
    background-color: black;
}

.comicsPic{

}



.collection .comicCard{
    background-color: white;
    padding: 15px;
    height: auto;
    margin-bottom: 20px;
}


.collection .comicCard h3{
    color: black;
    font-size: 1em;
    margin: 0px;
    height: 50px;
    vertical-align: middle;
}

.collection .comicCard .comicsPic{
    width: 100%;
    height: auto;
}

