@import url(http://fonts.googleapis.com/css?family=Rock+Salt);


body{
	color: white;
	background-color: blue;
}


.title h2{
font-family: 'Rock Salt', 'Comic Sans';

}

.comicsPic{
}

.charPic{
	display: block;
	margin: 0 auto;
	max-width: 400px;
	height: auto;
}

.comicCard{
	background-color: white;
	padding: 15px;
	height: auto;
	margin-bottom: 20px;
}


.comicCard h3{
	color: black;
	font-size: 1em;
	margin: 0px;
	height: 50px;
	vertical-align: middle;
}

.comicsPic{
	width: 100%;
	height: auto;
}

